name: update-packages
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 2 * * 0' # weekly on Sunday at 2 AM

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - aigpy
          - aperture-plymouth
          - bulk_extractor
          - chicago95
          - chitubox
          - ha-mqtt-iot
          - hyperhdr
          - jackboxutility
          - libdvbcsa-patched
          - lycheeslicer
          - lyricsgenius
          - libdyson
          - simple-term-menu
          - streamrip
          - steamgrid
          - oscam
          - oxyromon
          - redmond97
          - rkvm
          - se98
          - switch-firmware
          - switch-keys
          - tidal-dl
          - tvheadend-patched
          - vlmcsd
          - xmount
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v19
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install nix-update
        run: |
          nix profile install nixpkgs#nix-update
      - name: Update package
        run: |
          nix-update --flake --version=unstable ${{ matrix.package }}
        continue-on-error: true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: 'Update ${{ matrix.package }} to latest version'
          title: 'Update ${{ matrix.package }} to latest version'
          body: |
            Automated package update for ${{ matrix.package }}
            
            This PR was automatically generated by the update-packages workflow.
          branch: update-${{ matrix.package }}-${{ github.run_id }}
          delete-branch: true
